<form action="/square/results">
  <label for="square_form">Enter a number</label><br>
  <input id="square_form" type="text" placeholder="What number do you want to square?" name="number"><br>
  <button>Calculate square</button>
</form>
