<form action="/square_root/results">
  <label for="square_root_form">Enter a number</label><br>
  <input id="square_root_form" type="text" placeholder="What number do you want to take the square root of?" name="user_number"><br>
  <button>Calculate square root</button>
</form>
